{{template "mainHTML"}}

<!--   *******************TEMPLATES*************************** -->

{{define "mainHTML"}}
<!DOCTYPE html>
<html lang="en">

{{template "head1"}}

<body>

  {{template "body1"}}

</body>

</html>
{{end}}


{{define "head1"}}

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>eyerImg</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="static/css/bulma.min.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– 
  <link rel="icon" type="image/png" href="static/images/favicon-16.png">
  -->
</head>
{{end}}

{{define "topSection"}}
<section class="hero is-primary">
  <div class="hero-body">
    <h1 class="title"><a style="text-decoration:none; color:#000000;" href="/">erterImg </a></h1>
  </div>
</section>
{{end}}


{{define "body1"}}
{{template "topSection"}}
<div class="columns is-vcentered">
  <div class="column">
    
      <a class="button is-large" href="/upload">Upload Image</a>
    
    <div class="column">
      <a class="button is-large" href="/show">Show Image</a>
    </div>
  <div>
</div>
{{end}}