{{define "upload"}}
<!DOCTYPE html>
<html lang="en">

  {{template "head1"}}

  {{template "topSection" .}}

  <body>
    <form enctype="multipart/form-data" action="{{.UploadURL}}" method="post">
      <div class="columns">

        <div class="column">
          <div class="card">
            <div class="file has-name is-fullwidth">
              <label class="file-label">
                <input class="file-input" id="file" type="file" name="myFile">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Choose a file…
                  </span>
                </span>
                <span class="file-name" id="filename">
                  some file ...
                </span>
              </label>
            </div>
            <input class="button is-fullwidth is-centered" type="submit" name="fileSubmit" value="upload" />
          </div>
        </div>

        <div class="column">
          {{template "showPictures" .}}
        </div>

        <div class="column"></div>
      </div>
    </form>
  </body>

</html>

<script>
  var file = document.getElementById("file");
  file.onchange = function () {
    if (file.files.length > 0) {
      document.getElementById('filename').innerHTML = file.files[0].name;
    }
  };
</script>
{{end}}

{{define "showPictures"}}
{{range $key,$value := .PictureMap}}
<div class="box">
  <a href="{{$key}}">
    <figure class="image is-128x128">
      <img src="{{$value}}" alt="{{$key}}">
    </figure>
  </a>
</div>
{{end}}
{{end}}

{{define "redirectToUpload"}}
<meta http-equiv="refresh" content="0; URL=/upload">
{{end}}