{{define "upload"}}
<!DOCTYPE html>
<html lang="en">

  {{template "head1"}}

  {{template "topSection"}}

  <body>
    <form enctype="multipart/form-data" action="http://10.0.0.223:8080/upload" method="post">
      <div class="columns">
        <div class="column">
          <div class="card">

            <div class="file has-name is-fullwidth">
              <label class="file-label">
                <input class="file-input" id="file" type="file" name="myFile">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Choose a file…
                  </span>
                </span>
                <span class="file-name" id="filename">
                  some file ...
                </span>
              </label>
            </div>

            <!--
            <div class="field">
              <div class="file is-normal is-centered is-boxed">
                <label class="file-label">
                  <input class="file-input" id="file" type="file" name="myFile">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label" id="filename">
                      Select File here
                    </span>
                  </span>
                </label>
              </div>
            </div>
          -->

            <input class="button is-fullwidth is-centered" type="submit" value="upload" />

          </div>
        </div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
      </div>
    </form>
  </body>

</html>

<script>
  var file = document.getElementById("file");
  file.onchange = function () {
    if (file.files.length > 0) {
      document.getElementById('filename').innerHTML = file.files[0].name;
    }
  };
</script>
{{end}}