{{define "upload"}}
<!DOCTYPE html>
<html lang="en">

{{template "head1"}}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
</head>

<body>
    <form enctype="multipart/form-data" action="http://localhost:8080/upload" method="post">
    <div class="grid-container halves">
        <div><input type="file" name="myFile" /></div>
        <div><input type="submit" value="upload" /></div>
    </div>
    </form>
</body>

</html>
{{end}}